@model HeaderLinksModel
@using System.Text.Encodings.Web
<div class="header-links">
    <ul>
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_links_before" })

        <li><a href="\about-us">@T("Aboutus")</a></li>
        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>

        @if (Model.IsAuthenticated)
        {
            <li><a href="@Url.RouteUrl("CustomerInfo")" class="ico-account">@T("Account.MyAccount")@*@Model.CustomerName*@</a></li>
            <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
        }
        else
        {
            <li><a href="@Url.RouteUrl("Register")" class="ico-register">@T("Account.Register")</a></li>
            <li><a href="@Url.RouteUrl("Login")" class="ico-login">@T("Account.Login")</a></li>
        }
        @if (Model.AllowPrivateMessages)
        {
            <li>
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">
                    <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                    <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                </a>
            </li>
        }

        <li>
            @await Component.InvokeAsync("CurrencySelector")
        </li>

        <li>
            @await Component.InvokeAsync("LanguageSelector")
        </li>

        @*@if (Model.WishlistEnabled)
        {
            <li>
                <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">
                    <span class="wishlist-label">@T("Wishlist")</span>
                    <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                </a>
            </li>
        }*@
        @if (Model.ShoppingCartEnabled)
        {
            <li class="topcartlink">
                <a class="Mhtopcartlinka" href="@Url.RouteUrl("ShoppingCart")">
                    <img class="MhtopcartlinkImg" src="~/Themes/NewTheme/Content/images/Ps.gif" />
                    <span class="Mhtopcartlinkspan">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                </a>
            </li>

            @*<li id="topcartlink">
                <a href="@Url.RouteUrl("ShoppingCart")">
                    <img src="~/Themes/NewTheme/Content/images/Ps.gif" />
                    <span >@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                </a>
            </li>*@
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_links_after" })
    </ul>

    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script type="text/javascript" asp-location="Footer">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);
            });
        </script>
    }
    @if (Model.ShoppingCartEnabled)
    {
        <script type="text/javascript" asp-location="Footer">
            $(document).ready(function () {
                $('.header').on('mouseenter', '#topcartlink', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#topcartlink', function () {
                    $('#flyout-cart').removeClass('active');
                });
                $('.header').on('mouseenter', '#flyout-cart', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#flyout-cart', function () {
                    $('#flyout-cart').removeClass('active');
                });
            });
        </script>
    }
</div>
